<footer class="my-20">
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1" style="font-size:10px">
    Copyright Â© {new Date().getFullYear()} Tiago Silva Rodrigues. All rights reserved.
  <p class="text-center text-xs text-slate-500 mt-1 footermade-by" style="font-size:8px">
    Made by <a
      href="https://github.com/TiagoSRodrigues"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      TiagoSRodrigues
    </a> based on <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Web3Templates
    </a>
  </p>
</footer>
